# Service client

The goal of this notebook is to predict the response time of a brand twitter account to a tweet, in order to prioritize the queue.

In [313]:
import pandas as pd
import numpy as np

## Computes reply_time
### Data loading

In [314]:
df = pd.read_csv("extraction_twint/data_service_clients/wholefoods.csv").filter(['id','conversation_id','username','date','time'])

### Dates parsing

In [315]:
df['datetime']=pd.to_datetime(df['date'] + ' ' + df['time'])
df.drop(['date','time'], axis=1, inplace=True)
df.head()

,id,conversation_id,username,datetime
0,1202231733690732544,1202231733690732544,henrystewartdam,2019-12-04 15:22:36
1,1202231286351507461,1202231286351507461,beverlyharzog,2019-12-04 15:20:49
2,1202231159859621888,1202231159859621888,coreycade,2019-12-04 15:20:19
3,1202230605725028352,1202046088649281537,wholefoods,2019-12-04 15:18:07
4,1202227816923828227,1201978721550385153,commasftw,2019-12-04 15:07:02

### Create reply_time

This column contains the reply time in seconds if Wholefoods replied

In [316]:
##Filter Wholefoods tweets
wholefoods_tweets = df[df['username'] == 'wholefoods'].filter(['conversation_id','datetime'])

In [317]:
##Remove wholefoods tweets from the main df
df = df[df['username'] != 'wholefoods']

In [318]:
##Join the tables
join=df.set_index('conversation_id').join(wholefoods_tweets.set_index('conversation_id'), lsuffix='', rsuffix='_reply')

We still have a lot of duplicates, so we need to filtrate and keep only the first reply from the brand

In [319]:
##computes reply time
join['reply_time']=join['datetime_reply']-join['datetime']

In [320]:
#remove negative reply_time
join = join.loc[join['reply_time'].apply(lambda x: x.days>=0)]
#keep only the smallest value
reply_times = join.groupby("id", as_index=False)["reply_time"].min().set_index('id')

In [321]:
#Add the reply time to the main df
df=df.set_index('id')
df.drop(['conversation_id'], axis=1, inplace=True)
df['reply_time']=reply_times['reply_time']

In [322]:
df.head(20000)

                            username            datetime reply_time
id
1202231733690732544  henrystewartdam 2019-12-04 15:22:36        NaT
1202231286351507461    beverlyharzog 2019-12-04 15:20:49        NaT
1202231159859621888        coreycade 2019-12-04 15:20:19        NaT
1202227816923828227        commasftw 2019-12-04 15:07:02        NaT
1202226820856385536      theaustinot 2019-12-04 15:03:05        NaT
1202226526713974787   thefoodbankinc 2019-12-04 15:01:54        NaT
1202221503674273796   annajoh5575333 2019-12-04 14:41:57        NaT
1202219721350959104      msamysteele 2019-12-04 14:34:52        NaT
1202216537995857920      msamysteele 2019-12-04 14:22:13   00:11:43
1202216214451195904         annekpix 2019-12-04 14:20:56        NaT
1202214007475539970   w_prophetbalik 2019-12-04 14:12:10        NaT
1202210881347768321   michelemkenner 2019-12-04 13:59:44        NaT
1202207645895024640   cheaterrlosers 2019-12-04 13:46:53        NaT
1202204989122322432        eric11714 2019-12-04 13:36:19        NaT
1202202801918631936  foodiesfestival 2019-12-04 13:27:38        NaT
1202202396060860417         sulusaid 2019-12-04 13:26:01        NaT
1202198305175945216   broadstghoulie 2019-12-04 13:09:46        NaT
1202195879731576833  forgottnharvest 2019-12-04 13:00:08        NaT
1202195845480927232      msamysteele 2019-12-04 12:59:59   01:20:08
1202193458880032768    ranakabbani54 2019-12-04 12:50:30        NaT
1202192595721637894          barnana 2019-12-04 12:47:05        NaT
1202179846714953730        vardadas2 2019-12-04 11:56:25        NaT
1202177058782072833           scslmd 2019-12-04 11:45:20        NaT
1202145628484038656   hawaii50_japan 2019-12-04 09:40:27        NaT
1202128719705464832     ladderman421 2019-12-04 08:33:15        NaT
1202120922682888193    cecil4allofus 2019-12-04 08:02:16        NaT
1202109562725130240          leahdo4 2019-12-04 07:17:08        NaT
1202108363083067393       flyingsaab 2019-12-04 07:12:22   07:03:44
1202107752044204032      wheatsville 2019-12-04 07:09:56        NaT
1202107747925254145       sord33rblx 2019-12-04 07:09:55        NaT
...                              ...                 ...        ...
1185267990385872897          ciodive 2019-10-18 20:54:44        NaT
1185267163218628608        stephmur1 2019-10-18 20:51:27        NaT
1185266987175268353        bgcaunion 2019-10-18 20:50:45        NaT
1185266445351051266     trondogmommy 2019-10-18 20:48:36        NaT
1185265002242027520    dazzlinglatte 2019-10-18 20:42:52        NaT
1185264510665404416  michelle_martha 2019-10-18 20:40:55        NaT
1185262679147069440      bmerrymerry 2019-10-18 20:33:38        NaT
1185261110389301248    citizenjennie 2019-10-18 20:27:24   00:05:00
1185260416101863424   littlevodkaowl 2019-10-18 20:24:38        NaT
1185260286237917184         dntattle 2019-10-18 20:24:07        NaT
1185259625513410560        aymaras12 2019-10-18 20:21:30   00:01:48
1185259119495634944   littlevodkaowl 2019-10-18 20:19:29   00:03:49
1185255923230658560    cascadianfarm 2019-10-18 20:06:47        NaT
1185253681840697344         dinki777 2019-10-18 19:57:53        NaT
1185250548120993794       muniappans 2019-10-18 19:45:26   00:04:51
1185246500097593346           12klin 2019-10-18 19:29:21   02:02:55
1185246399006433280          jsd1810 2019-10-18 19:28:56        NaT
1185246140549271557     lukebrindley 2019-10-18 19:27:55        NaT
1185242046921105409   alliancehounds 2019-10-18 19:11:39        NaT
1185241848002027520  ottawadreamcafe 2019-10-18 19:10:51        NaT
1185240265939914753       dmartin747 2019-10-18 19:04:34        NaT
1185238686524493829   cleanenergyorg 2019-10-18 18:58:18   00:05:27
1185236916544954368       dmartin747 2019-10-18 18:51:16        NaT
1185231426691698689        wwbevofks 2019-10-18 18:29:27        NaT
1185228551102091268     releviumcorp 2019-10-18 18:18:01        NaT
1185226553405464576    peter28635649 2019-10-18 18:10:05        NaT
1185226436598288385           fonesj 2019-10-18 18:09:37        NaT
1185225774409797632  americantunaguy 2019-10-18 18:06:59        NaT
1185224612449267712  schmidtsnatural 2019-10-18 18:02:22        NaT
1185224499635077120   programmed2run 2019-10-18 18:01:55        NaT

[14000 rows x 3 columns]

## Save to CSV

In [324]:
original = pd.read_csv("extraction_twint/data_service_clients/wholefoods.csv")
original = original.set_index('id')
original['reply_time']=reply_times['reply_time']
original.to_csv("extraction_twint/data_service_clients/wholefoods_computed.csv")